---
layout: default
title: Courses
body_class: no-sidebar
description: "HCI-related courses offered at Johns Hopkins University"
---

<article id="main">

	<section class="wrapper style4 container">
		<div class="col-8 col-12-narrower">
			<div class="content">
				{% assign sorted_years = site.courses | map: "year" | uniq | sort | reverse %}
				{% assign semesters = "Fall,Spring" | split: "," %}
				{% assign shown_latest = "" %}
				{% for year in sorted_years %}
				{% for sem in semesters %}
				{% assign term_courses = site.courses | where: "year", year | where: "semester", sem | sort: "order" %}
				{% if term_courses.size > 0 %}
				{% if shown_latest == "" %}
				<h2>{{ sem }} {{ year }}</h2>
				{% for course in term_courses %}
				<section>
					<header>
						<h3><a href="{{ course.link }}"><strong>{{ course.number }} {{ course.title }}</strong></a></h3>
						<p><b>Instructor:</b> <a href="{{ '/people.html#' | append: course.instructor_slug | relative_url }}">{{ course.instructor }}</a></p>
					</header>
					{{ course.content }}
				</section>
				{% endfor %}
				{% assign shown_latest = "yes" %}
				{% else %}
				<details>
					<summary><h2 style="display:inline">{{ sem }} {{ year }}</h2></summary>
					{% for course in term_courses %}
					<section>
						<header>
							<h3><a href="{{ course.link }}"><strong>{{ course.number }} {{ course.title }}</strong></a></h3>
							<p><b>Instructor:</b> <a href="{{ '/people.html#' | append: course.instructor_slug | relative_url }}">{{ course.instructor }}</a></p>
						</header>
						{{ course.content }}
					</section>
					{% endfor %}
				</details>
				{% endif %}
				{% endif %}
				{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>

</article>
