---
layout: default
title: People
body_class: no-sidebar
description: "Faculty and researchers in the JHU HCI group"
---

{% assign faculty    = site.people | where: "section", "faculty"   | sort: "order" %}
{% assign affiliated = site.people | where: "section", "affiliated" | sort: "order" %}
{% assign trainees   = site.people | where: "section", "trainee"   | sort: "order" %}

<article id="main">

	<header class="special container">
		<span class="icon solid fa-users"></span>
		<h2>Our <strong>Members</strong></h2>
		<p>We are an interdisciplinary group of researchers caring about technology and people.</p>
	</header>

	<section class="wrapper style4 container">
		<div class="content">

			{% if faculty.size > 0 %}
			<div class="people-section">
				<h2 class="people-section-title">Faculty</h2>
				<div class="row" id="people-faculty">
					{% include people_cards.html group=faculty %}
				</div>
			</div>
			{% endif %}

			{% if affiliated.size > 0 %}
			<div class="people-section">
				<h2 class="people-section-title">Affiliated Faculty</h2>
				<div class="row" id="people-affiliated">
					{% include people_cards.html group=affiliated %}
				</div>
			</div>
			{% endif %}

			{% if trainees.size > 0 %}
			<div class="people-section">
				<h2 class="people-section-title">PhD Students &amp; Postdocs</h2>
				<div class="row" id="people-trainees">
					{% include people_cards.html group=trainees %}
				</div>
			</div>
			{% endif %}

		</div>
	</section>

</article>
