---
layout: default
title: Seminars
body_class: no-sidebar
description: "HCI-related seminars and talks at Johns Hopkins University"
---

<article id="main">

	<header class="special container">
		<span class="icon solid fa-comments"></span>
		<h2>The Frontiers of <strong>HCI Research</strong></h2>
		<p>HCI-related seminars and talks at Johns Hopkins University</p>
	</header>

	<section class="wrapper style4 container">
		<div class="content">
			<section>
				<header>
					<h2>Upcoming Talks &amp; Events</h2>
				</header>
			</section>

{% for talk in site.seminars %}
			<section>
				<header>
					<h3>{{ talk.date | date: "%B %-d, %Y" }} &ndash; <strong>{{ talk.speaker }}</strong> &ndash; {{ talk.affiliation }}</h3>
				</header>
				{% if talk.photo %}
				<img class="speaker-pic" src="{{ talk.photo | relative_url }}" align="left" alt="{{ talk.speaker }}">
				{% endif %}
				{{ talk.content }}
			</section>
			{% endfor %}
		</div>
	</section>

</article>
